<div class="card shadow-sm border-0 mb-4">
  <div class="card-header bg-info-subtle">
    <h5 class="text-secondary mb-0"><i class="bi bi-geo-alt"></i> Gestión de Ciudades</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)="guardar()" class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Código</label>
        <input [(ngModel)]="ciudad.codigo" name="codigo" class="form-control" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Nombre</label>
        <input [(ngModel)]="ciudad.nombre" name="nombre" class="form-control" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Departamento</label>
        <select [(ngModel)]="ciudad.departamento.codigo" name="departamento" class="form-select" required>
          <option *ngFor="let d of departamentos" [value]="d.codigo">{{ d.nombre }}</option>
        </select>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-success"><i class="bi bi-save"></i> Guardar</button>
      </div>
    </form>

    <table class="table table-bordered mt-4">
      <thead class="bg-light text-secondary">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of ciudades">
          <td>{{ c.codigo }}</td>
          <td>{{ c.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>