<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MaterialesApp</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/materiales">Materiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ciudades">Ciudades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/departamentos">Departamentos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
