/* styles.scss o styles.css global */
.navbar-nav .nav-link {
  font-weight: 500;
  color: #444; /* color suave */
  transition: all 0.2s ease-in-out;
  position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #0d6efd;
  font-weight: 600;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0d6efd;
  border-radius: 1px;
}
